body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h4 {
    color: forestgreen;
}

header {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: #333333;
    height: 4em;
    max-height: 100%;
    color: white;
    align-content: center;
}

a {
    color: white;
    text-decoration: none;
}

body header .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

body main {
    padding-top: 5em;

}

body main img {
    height: 100px;
    max-height: 100%;
}

body main .input-block {
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}

button {
    width: 100px;
    background-color: #333333;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

footer {
    background-color: #333333;
    height: 4em;
    max-height: 100%;
    color: white;
    align-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}