{% extends 'base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<h2 style="color: green;">{{message_check_html}}</h2>
<h1>Отдел заботы о клиентах:</h1>
{%for key,value in dict_storage_html.items()%}
{%if key == 'name'%}
<p>Имя: {{value}}</p>
{%elif key == 'email'%}
<p>Email: {{value}}</p>
{%elif key == 'city'%}
<p>Город: {{value}}</p>
{%elif key == 'street'%}
<p>Улица: {{value}}</p>
{%elif key == 'post_zip'%}
<p>Почтовый индекс: {{value}}</p>
{%elif key == 'message'%}
<p>Сообщение: {{value}}</p>
{%endif%}
{%endfor%}
{% endblock %}